{% extends "base.html" %}
{% block content %}
    About Page
    <div class="container">
        <div class="row red">
            <div class="col-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua.
                Condimentum lacinia quis vel eros.Nec nam aliquam sem et. Vestibulum sed arcu non odio euismod lacinia
                at
                quis.
                Urna neque viverra justo nec ultrices.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua.
                Condimentum lacinia quis vel eros. Nec nam aliquam sem et. Vestibulum sed arcu non odio euismod lacinia
                at
                quis.
                Urna neque viverra justo nec ultrices.
            </div>
        </div>
        <br>
        <div class="row red">
            <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua.
                Condimentum lacinia quis vel eros. Nec nam aliquam sem et. Vestibulum sed arcu non odio euismod lacinia
                at
                quis.
                Urna neque viverra justo nec ultrices.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua.
            </div>
        </div>
    </div>
{% endblock %}