{% extends "base.html" %}
{% block content %}
    Index Page
    <div class="container">
        <img class="img-fluid" src="https://source.unsplash.com/WLUHO9A_xik/800x450">
        <div id="main_content" class="red">
        <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Diam quis enim lobortis scelerisque fermentum dui. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu.</span>
        </div>
    </div>

{% endblock %}


