{% extends "base.html" %}
{% block content %}
    Z Layout
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7"
                    aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{ url_for('simple_pages.show', page="page1") }}" target="_self">
                    <img src="static\images\git.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5><b>GIT</b></h5>
                        <h5>Git is software for tracking changes in any set of files.</h5>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page2") }}" target="_self">
                    <img src="static\images\docker.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>DOCKER</h5>
                        <h5>Docker is an open platform for developing, shipping, and running applications</h5>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page3") }}" target="_self">
                    <img src="static\images\flask.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>FLASK</h5>
                        <h5>Flask is a micro web framework written in Python.</h5>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page4") }}" target="_self">
                    <img src="static\images\CICD.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>CI/CD</h5>
                        <h5>CI/CD is the combined practices of continuous integration and either continuous delivery or
                            continuous deployment.</h5>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page5") }}" target="_self">
                    <img src="static\images\oop1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>OOP</h5>
                        <h5>Object Oriented programming (OOP) is a programming paradigm that relies on the concept of classes and objects.</h5>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page6") }}" target="_self">
                    <img src="static\images\AAA_c.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>AAA TESTING</h5>
                        <h5>The AAA (Arrange, Act, Assert) pattern is a common way of writing unit tests for a method under test.</h5>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page7") }}" target="_self">
                    <img src="static\images\pylint_c.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>PYLINT</h5>
                        <h5>Pylint is a tool that checks for errors in Python code, tries to enforce a coding standard and looks for code smells.</h5>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="page8") }}" target="_self">
                    <img src="static\images\Solid_c.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>SOLID AND DESIGN PATTERNS</h5>
                        <h5>In software development, Object-Oriented Design plays a crucial role when it comes to writing flexible, scalable, maintainable, and reusable code</h5>
                    </div>
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br><br>
    <div class="container">
        <p class="contentPages">
            Self Introduction:
            Hello, I am Vishal Brahmbhatt I am pursuing my Master's in Data Science. I did my bachelor's in Information
            Technology from Mumbai University.
            I am in my final semester.
            I am keen towards learning new technologies like Docker, Git, Flask and many more taught in this course
            (IS601).
            I have sound knowledge of Python, Java, C, C++ and R.
            My hobbies are listening Music and Playing Basketball.
        </p>
    </div>


{% endblock %}


