{% extends "base.html" %}
{% block content %}
    <h1>PYLINT</h1>
    <div class="container">
        <div class="container">
            <div class="row"><p class="fs-5">
                Pylint is a tool that evaluates Python code for mistakes, attempts to enforce coding standards, and
                detects code smells. It may also check for specific type issues, provide suggestions about how specific
                blocks might be refactored, and provide information about the code's complexity.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4"><img src="static\images\pylint2.jpg" class="img-thumbnail"></div>
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">WHAT IS PYLINT?</h6>
                    Pylint is a tool that checks Python code errors, attempts to enforce coding standards, and detects
                    code smells. It can also diagnose problems of some sort, provide suggestions on how certain blocks
                    can be redesigned, and provide information about the complexity of the code.Other projects of the
                    same type include pychecker (now extinct), pyflakes, flake8, and mypy. Pylint's default code style
                    is similar to PEP 8.
                    As it checks the code, Pylint will display a variety of notifications, and can also be used to
                    provide statistics on the number of alerts and errors found in various files. Messages are divided
                    into several sections, including errors and warnings.
                    Finally, the code is given a full range depending on the number and magnitude of the warnings and
                    errors.
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4"><img src="static\images\pylint3.jpg" class="img-thumbnail"></div>
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">WHAT PYLINT IS NOT?</h6>What
                    Pylint says should not be treated as gospel, and Pylint is not wiser than you: it may warn you about
                    things you have done conscientiously.
                    Pylint makes every effort to report as few false positives as possible for mistakes, although it may
                    be too cautious with warnings. That's because it attempts to identify things that are harmful in one
                    context but not in another, or because it looks for things you don't care about. In general, you
                    shouldn't expect Pylint to stay completely silent about your code, so don't be surprised if it
                    generates a slew of messages for your project!
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">SPECIFICATIONS AND FEATURES OF
                    PYLINT:</h6><br>
                    <b>Coding standard</b> : It is a highly recommended tool with specific capabilities to test code
                    lengths and to test coding levels as well-designed flexible words. This also checks to see if the
                    user is using any of the imported modules.<br>
                    <b>Fully customizable</b> : The user can use 'pylintrc' to customize the processes and errors to
                    specify different values and preferences. It offers great benefits in terms of customization and
                    configuration, as well as the opportunity to upgrade custom plugins for specific applications.<br>
                    <b>Error detection</b> : Includes a built-in method for detecting errors. It can check to see if the
                    defined visual connectors are being used properly and if any of the imported modules are used.<br>
                    <b>Refactoring</b> : Like other tools, it can get duplicate code. Code reset is a process that
                    involves resetting an existing code without interfering with its external behavior or performance.
                    Redesign improves the design, structure, and usability of the software.<br>
                    <b>Integration of editor</b> : It comes with a wide range of code editors in the market. Other
                    supported programs include emacs, vim (pylint.vlm, syntastic), eclipse, and more.<br>
                    <b>UML diagrams</b> : Includes additional code called "Pyreverse," which may produce UML graphics
                    for Python programs. Pylint installed.<br>
                    <b>Continuous integration</b> : Allows the user to apply it to their project code and to execute the
                    process automatically using Apycot, Hudson, or Jenkins.<br>
                    <b>Integration with IDE</b> : It can work with a variety of IDEs, including Spyder, Editra,
                    TextMate, Eclipse with PyDev, and others.<br>
                </div>
            </div><br>
            <div class="row">
                <div class="text-center"><img src="static\images\pylint_test.jpg" class="img-fluid"></div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static\images\pytest_coverage_test.jpg" class="img-fluid rounded float-start" alt="...">
                </div>
                <div class="col-sm-6">
                    <img src="static\images\pytest1.jpg" class="img-fluid rounded float" alt="...">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">INSTALLATION OF PYLINT</h6>
                    <b>Install Pylint on Windows, MAC OS, Linux</b>:
                    <br><br><b>Sudo apt install Pylint</b> - Debian Kali Linux, Ubantu.
                    <br><br><b>Sudo dnf install Pylint</b> - Fedora.
                    <br><br><b>Sudo zypper install Pylint</b> - OpenSUSE
                    <br>
                </div>
                <div class="col-6 col-sm-4"><img src="static\images\pylint4.jpg" class="img-thumbnail"></div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">PROS AND CONS OF PYLINT
                    TOOL:</h6>
                    <br>
                    <b>PROS:</b>
                    <br><br>In error detection, adheres to established coding practices.
                    <br><br>It examines both committed and undone code.
                    <br><br>Simple to analyze and orchestrate.
                    <br><br>Installation simplicity.
                    <br><br>It is possible to combine it with popular IDEs such as Visual Studio, Eclipse, and
                    others.
                    <br><br>
                    <b>CONS:</b>
                    <br><br>To decrease the code length, it sometimes breaks the code, and the meaning of the code
                    changes.
                    <br><br>Attempts to impose a certain coding style.
                    <br><br>
                </div>
                <div class="col-6 col-sm-4"><img src="static\images\pylint5.jpg" class="img-fluid"></div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="static\images\pylintA.jpg" class="img-fluid rounded float-start" alt="...">
                </div>
                <div class="col-sm-3">
                    <img src="static\images\pylintB.jpg" class="img-fluid rounded float" alt="...">
                </div>
                <div class="col-sm-3">
                    <img src="static\images\pylintC.jpg" class="img-fluid rounded float" alt="...">
                </div>
                <div class="col-sm-3">
                    <img src="static\images\pylintD.jpg" class="img-fluid rounded float" alt="...">
                </div>
            </div>
        </div>
    </div>
{% endblock %}