{% extends "base.html" %}
{% block content %}
    <h1>AAA TESTING</h1>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">AAA TESTING:</h6>Testing is a
                    process that uses behavior to determine if a behavior is working properly. There are several
                    different types of tests, such as unit tests, integration tests, or end tests, but all performance
                    tests do the same basic thing: they try something and report to PASS or FAIL.
                    Testing provides a loop of evidence response for improvement. Of course, testing keeps us safe. By
                    testing, we know when things break. Without testing, coding can be dangerous.The AAA
                    (Arrange-Act-Assert) pattern has practically become industry standard. It advises
                    dividing your test method into three sections: organize, act, and assert. Each of them is just
                    accountable for the section for which they are named.So in the arrange part, you just have the code
                    needed to set up that single test. Objects would be created here, mocks would be put up (if you're
                    using them), and maybe expectations would be specified. Then there's the Act, which should be the
                    method being tested's invocation. And on Assert, you just check to see if the expectations were
                    satisfied.<br>
                    The <b class="fs-5">Arrange</b> - <b class="fs-5">Act</b> - <b class="fs-5">Assert</b> are as
                    follows:<br><br>
                    <b class="fs-5">Arrange</b> : Combine inputs and outputs. The test case should be stopped using
                    planning steps. Is there anything that needs to be tested, such as certain items or settings? Is it
                    necessary to repair a website? Is it necessary to log into the online application? At the beginning
                    of the test, take care of all these tasks.<br><br>
                    <b class="fs-5">Act</b> : Take action in response to the behavior you want. Key points to be
                    considered should be included in the action categories. This could be driving the activity or
                    method, working with a web page, or using the REST API. Keep a laser-like focus on the behavior you
                    want.<br><br>
                    <b class="fs-5">Assert</b> : Make a case for the results shown. Steps to take action should trigger
                    a reaction. Vaccination measures ensure that the response is positive or negative. Vaccination can
                    sometimes be as straightforward as checking numerical or text values. In some cases, they may need a
                    thorough evaluation of many system features.
                    <br><br>
                </div>
                <div class="col-3 col-sm-4"><img src="static\images\WhatisAAA.jpg" class="img-fluid rounded float">
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="static\images\AAA1.jpg" class="img-fluid rounded float-start" alt="...">
                </div>
                <div class="col-sm-4">
                    <img src="static\images\AAA3.jpg" class="img-fluid rounded float" alt="...">
                </div>
                <div class="col-sm-4">
                    <img src="static\images\AAA2.jpg" class="img-fluid rounded float" alt="...">
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4"><img src="static\images\AAA4.jpg" class="img-thumbnail"></div>
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">More about AAA:</h6>
                    Driven Behavior The Act-Assert pattern, also known as Given-When-Then, is followed in development.
                    The given steps — Then used in the Gherkin language to describe behavior in situations. Edit-Assert
                    Act is actually the same formula as Given-Give-Then.At least one test framework exists for each
                    major programming language. Frameworks such as JUnit, NUnit, Cucumber, and (my personal favorite)
                    pytest allow you to automate tests, run suites, and report findings as a programmer. The framework,
                    on the other hand, does not determine if a test case is "good" or "bad." As a tester, you must be
                    able to create effective tests!
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4"><img src="static\images\AAA5.jpg" class="img-thumbnail"></div>
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader"></h6>For testing, the
                    Arrange step adds a variable called "negative."<br>
                    The Act step uses the "negative" variable to run the "abs" function and saves the result in the
                    "response" variable.<br>
                    The Assert step ensures that the value "answer" is affirmative.<br>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">WHY IS TESTING IMPORTANT?</h6>
                    Software testing is a process for identifying whether or not a software product satisfies the
                    expected criteria and for guaranteeing that it is defect-free. It comprises putting software/system
                    components to the test with human or automated techniques in order to assess one or more attributes
                    of interest. In relation to the real requirements, software testing's purpose is to detect mistakes,
                    gaps, or
                    missing requirements. When working on a software development project, keep in mind that mistakes
                    might occur at any stage
                    of the process. There are only a few that have yet to be discovered. As a result, the significance
                    of Quality
                    Assurance cannot be overstated.There's a good probability the final code may have flaws in
                    functionality and design. It is necessary to undertake software testing in order to identify flaws
                    before they develop in a critical setting.
                    Program testing is critical because it allows any faults or mistakes in the software to be found
                    early and corrected before the final product is delivered. A well-tested software product provides
                    dependability, security, and excellent performance, which saves time, money, and improves customer
                    satisfaction. It is, in fact, an important aspect of the procedure. However, it necessitates a
                    significant pocket cutoff.<br>
                    The following are the main reasons why software testing is critical: <br><br>
                </div>
                <div class="col-6 col-sm-4"><img src="static\images\AAA6.jpg" class="img-thumbnail"></div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4 contentPages"><h6 class="contentPagesHeader">1. It aids in money saving</h6>
                    Software testing provides a plethora of advantages. One of the most important reasons why firms use
                    software testing services is the project's cost-effectiveness. Software testing is made up of a
                    number of initiatives. If a defect is discovered early in the development process, the cost of
                    repairing it is lower. As a result, it is a need that you complete the testing as quickly as
                    possible. When you engage quality analysts or testers for projects that have a lot of experience and
                    have gone through technical school, you're making an investment, and the project will profit from
                    it.
                </div>
                <div class="col-6 col-sm-4 contentPages"><h6 class="contentPagesHeader">2. Security</h6>It is another
                    another critical reason why software testing should be avoided. It is regarded as the most fragile
                    and sensitive portion of the body. There are several instances in which user information and data
                    are taken and utilized for personal gain. It is said to be the reason why individuals seek for
                    well-tested and dependable items. As a product is tested, the user may be confident that they will
                    obtain a dependable product. The user's personal information is protected. With the help of software
                    testing, users may acquire goods that are free of vulnerabilities.
                </div>
                <div class="col-6 col-sm-4 contentPages"><h6 class="contentPagesHeader">3. Quality of the product</h6>It
                    should function in line with the following to ensure that the specific product comes to life.
                    Following the demands of the product is a must since it aids in obtaining the required results.
                    Products should be useful to the user in some way. It is essential that it delivers on its promise
                    of value. As a result, it must perform completely in order to provide an excellent consumer
                    experience. It is also required to confirm the device's compatibility. For example, if you intend to
                    launch an application, you must ensure that it is compatible with a wide range of operating systems
                    and devices.
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">4. Satisfaction of the
                    customer</h6>The primary goal of the product's owner is to provide the highest level of customer
                    pleasure. One of the main reasons why software testing is vital is that it provides a prerequisite
                    and flawless user experience. You will be able to establish the reputation of dependable clients if
                    you choose the greatest project in a crowded project market. As a result, choosing software testing
                    will provide you with long-term benefits. Earning the client's trust is not a simple endeavor,
                    especially if the product is proven to be functional and glitching at the same time.
                </div>
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">5. Enhancing the development
                    process</h6>Quality Assurance can help you identify a wide range of circumstances and errors for the
                    repetition of the problem.
                    It is quite easy, and the devs must address it as soon as possible. Furthermore, software testers
                    should collaborate with the development team in tandem, which aids in the acceleration of the
                    development process.
                </div>
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">6. Easy while adding new
                    features</h6>The older and more intertwined the code, the more difficult it is to alter. Tests
                    prevent calcification by allowing developers to reliably add new functionality. Changing older
                    sections of your codebase as a new developer might be daunting, but with tests, you'll at least know
                    if you've broken anything vital. This helps your software stand out in the market and outperform the
                    competitors.
                </div>
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">7. Determining the performance
                    of the software</h6>If you discover software or applications that have low or decreased performance,
                    you will realize that it harms your market reputation. Users will not put their faith in anyone.
                    There is a danger that your organization's reputation may suffer. According to experts, it isn't
                    that crucial. However, if you release software into the market without first evaluating it, and the
                    program's performance falls short of the clients' expectations or needs, persuading them will be
                    difficult.
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}