{% extends "base.html" %}
{% block content %}
    <h1>OOP</h1>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4"><img src="static\images\oops.jpg" class="img-thumbnail"></div>
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">OOPS Definition:</h6>
                    Object-oriented programming (OOP) is a programming paradigm based on the notion of "objects," which
                    can include data in the form of fields, which are commonly referred to as attributes, and code in
                    the form of procedures, which are commonly referred to as methods. A person, for example, is an
                    object with certain qualities such as height, gender, age, and so on. It also features ways like
                    move, chat, and so forth.
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4"><img src="static\images\object.jpg" class="img-thumbnail"></div>
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">OBJECT</h6>This is the basic
                    unit of object-focused program. That both the data and the data processing function are grouped
                    together as a unit called an object.
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4 contentPages"><h6 class="contentPagesHeader">NAMESPACE</h6>Namespace is an
                    advertising region that provides scope for identifiers (names of types, functions, variations, etc.)
                    within it. Word spaces are used to organize code into logical groups and to prevent word conflicts
                    that may occur especially if your code base includes multiple libraries.
                </div>
                <div class="col-6 col-sm-4 contentPages"><h6 class="contentPagesHeader">CONSTRUCTOR</h6>In
                    object-oriented programming, a constructor is a particular method of a class or structure that
                    initializes a newly formed object of that kind. When an object is formed, the constructor is
                    automatically invoked.
                </div>
                <div class="col-6 col-sm-4 contentPages"><h6 class="contentPagesHeader">FIXTURES</h6>Correction is a
                    nice word for sample data. Modification allows you to fill your test data with pre-defined data
                    before the start of your test. Adjustments are independent and are written via YAML.
                </div>
            </div>

        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">CLASS</h6>When you define a
                    category, you define an object plan. This does not mean any data, but it does explain what the name
                    of the class means, that is, what the class object will include and what functions can be performed
                    in such an object.<br>
                    OOP has four basic concepts on which it is based entirely. Let's look at each other - <br>
                    <b>Abstraction</b> - Means, providing only important information to the outside world and concealing
                    their background information. For example, a web server hides how to process the data it receives,
                    the end user simply reaches the end and retrieves the data.<br>
                    <b>Ecapsulation</b> - Integration is the process of binding data members (variables, structures) and
                    member functions (methods) into a single unit. And it is a way to limit access to certain buildings
                    or parts. The best example of encapsulation is class.<br>
                    <b>Inheritance</b> - The ability to create a new class in an existing classroom is called an
                    Inheritance. Using the legacy, we can create a Child class from the parent category to acquire the
                    structures and methods of the parent category and have its own additional features and methods. For
                    example, if we have a class car with properties such as Color, Price, etc., we can build 2
                    classrooms like Bike and Car in which it has those 2 buildings and other additional designated
                    features such as car with number Windows while the bike can not. The same applies to methods.<br>
                    <b>Polymorphism</b> - The term polymorphism means polygamy. Typically, a polymorphism occurs where
                    there is a classification and is related to an inheritance. The C ++ polymorphism means that a
                    member's calling of a member will result in a different function depending on the type of work being
                    called.<br>
                </div>
                <div class="col-6 col-sm-4"><img src="static\images\Class.jpg" class="img-thumbnail"></div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">TYPE HINT</h6>Type hinting is a
                    formal technique for indicating the type of a value statically in Python code. It was defined in PEP
                    484 and first appeared in Python 3.5.
                </div>
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">TYPE CAST</h6>Type casting is
                    the process of converting a variable from one data type to another. If it makes sense, the compiler
                    will automatically convert one kind of data to another. If you assign an integer value to a
                    floating-point variable, for example, the compiler will transform the int to a float.
                </div>
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">UNIT TEST</h6>Unit test is a
                    method of testing a unit - a small piece of code that can be logically separated from the system. In
                    most programming languages, that is a function, sub-principle, method or material. A single part of
                    the definition is important.
                </div>
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">STATIC</h6>A static variable is
                    a variable that has been allocated "statically," which means that its lifespan (or "extent") is the
                    whole duration of the program.
                </div>
            </div>

        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="static\images\Typehint.jpg" class="img-fluid rounded float-start" alt="...">
                </div>
                <div class="col-sm-3">
                    <img src="static\images\Typecast.jpg" class="img-fluid rounded float" alt="...">
                </div>
                <div class="col-sm-3">
                    <img src="static\images\Unittest.jpg" class="img-fluid rounded float" alt="...">
                </div>
                <div class="col-sm-3">
                    <img src="static\images\Static.jpg" class="img-fluid rounded float" alt="...">
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">INSTANCE METHOD</h6>A method
                    that belongs to instances of a class rather than the class itself is referred to as an instance
                    method. Simply remove static from the method header to construct an instance method. You refer to
                    variables and methods in the class by their names, without a dot, within the method specification.
                </div>
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">INSTANCE PROPERTY</h6>A property
                    is a type of data that is connected with an object. A circle's diameter, for example, is one of its
                    properties, as is its area. A piece of data held within an object is referred to as an instance
                    variable.
                </div>
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">STATIC METHOD</h6>Stable method
                    (or static function) is a method defined as an element of the object but is directly accessible to
                    the API object builder, rather than from the creator object.
                </div>
                <div class="col-6 col-sm-3 contentPages"><h6 class="contentPagesHeader">STATIC PROPERTY</h6>A vertical
                    structure or a certain structure resembles a universally accessible or flexible function. Just enter
                    the class, and you can learn the same amount anywhere in the system. It is generally not recommended
                    to rely on global variables as it can lead to spaghetti code, but that does not mean they cannot be
                    used.
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">OVERVIEW OF SOLID PATTERN</h6>
                    <b>SOLID</b>
                    stands for:
                    <br><b>S</b> - Single-responsiblity Principle.
                    <br><b>O</b> - Open-closed Principle.
                    <br><b>L</b> - Liskov Substitution Principle.
                    <br><b>I</b> - Interface Segregation Principle.
                    <br><b>D</b> - Dependency Inversion Principle
                    <br>
                    SOLID is a prominent collection of design principles used in the creation of object-oriented
                    software.Although the SOLID principles were devised by Robert C. Martin in a 2000 essay titled
                    "Design Principles and Design Patterns," the acronym was invented later by Michael Feathers. Martin
                    noted in his essay that effective software will adapt and evolve. It grows more sophisticated as
                    time passes. Martin warns that if proper design principles are not followed, software will become
                    inflexible, brittle, immovable, and viscous. To counteract these problematic design patterns, the
                    SOLID principles were established. The SOLID principles' overarching purpose is to eliminate
                    dependencies so that developers may alter one section of software without affecting others. They're
                    also meant to make designs easier to comprehend, maintain, and extend. Finally, applying these
                    design principles makes it simpler for software developers to avoid problems and construct
                    adaptable, effective systems.While the principles have numerous advantages, applying them often
                    results in longer and more complicated code. As a result, it might lengthen the design process and
                    make development more challenging. This additional time and work, however, is well worth it because
                    it makes software much easier to maintain, test, and extend.
                    Following these principles is not a panacea and will not prevent design flaws. Nonetheless, the
                    principles have gained popularity because, when implemented correctly, they result in improved code
                    for readability, maintainability, design patterns, and testability. In today's context, all
                    developers should understand and use these ideas.
                </div>
                <div class="col-6 col-sm-4"><img src="static\images\Solid.jpg" class="img-thumbnail"></div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-8 contentPages"><h6 class="contentPagesHeader">OVERVIEW OF DESIGN PATTERN</h6>
                    A design pattern in software engineering is a generic repeatable solution to a typically occurring
                    problem in software design. A design pattern is not a finalized design that can be easily translated
                    into code. It is a description or template for solving an issue that may be applied in a variety of
                    contexts.Design patterns can help to accelerate the development process by offering tried-and-true
                    development paradigms. Effective software design necessitates taking into account challenges that
                    may not become apparent until later in the implementation process. Reusing design patterns aids in
                    the prevention of small flaws that can lead to large ones and increases code readability for coders
                    and architects who are familiar with the patterns.
                    People frequently only understand how to apply specific software design strategies to specific
                    issues. These methods are challenging to adapt to a wider variety of challenges. Design patterns
                    give generic answers that are defined in a way that does not necessitate specifics related to a
                    specific situation.<br>
                    <b>Types of Design Patterns</b><br>
                    <br><b>Creational Patterns</b> Rather than instantiating objects directly using the new operator,
                    these design patterns give a mechanism to construct things without obscuring the creation logic.
                    This allows the software more leeway in determining which objects are required for a specific use
                    case.
                    <br><b>Structural Patterns</b>These design patterns are concerned with the composition of classes
                    and objects. The concept of inheritance is used to create interfaces and specify how to combine
                    items to create new functions.
                    <br><b>Behavioral Patterns</b> These design patterns are specifically concerned with communication
                    between objects.
                    <br>
                </div>
                <div class="col-6 col-sm-4"><img src="static\images\Design.jpg" class="img-fluid"></div>
            </div>
        </div>
    </div>
{% endblock %}